src/main/resources/xsd/OrderStatusService.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://dms.orderstatus.get.sap/" xmlns:tns="http://dms.orderstatus.get.sap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"> <xs:simpleType name="OrderType"> <xs:restriction base="xs:string"> <xs:enumeration value="PO"/> <xs:enumeration value="STO"/> <xs:enumeration value="ConsignPO"/> </xs:restriction> </xs:simpleType> <xs:element name="GetOrderStatusRequest"> <xs:complexType> <xs:sequence> <xs:element minOccurs="1" name="DMSRequestId" type="xs:int"/> <xs:element minOccurs="1" name="OrderType" type="tns:OrderType"/> <xs:element minOccurs="0" name="RequestClient" nillable="true" type="xs:string"/> <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/> </xs:sequence> </xs:complexType> </xs:element> <xs:element name="GetOrderStatusResponse"> <xs:complexType> <xs:sequence> <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" /> <xs:element minOccurs="0" name="ErrorCode" type="xs:int" /> <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" /> <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" /> <xs:element minOccurs="0" name="StatusID" type="xs:int" /> <xs:element minOccurs="0" name="Success" type="xs:boolean" /> </xs:sequence> </xs:complexType> </xs:element></xs:schema>